/* ./assets/css/tailwind.css */
@tailwind base;
html,
body,
#__nuxt {
  overflow-x: hidden !important;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.formulate-input[data-classification='box'] .formulate-input-wrapper {
  @apply flex;
}
.formulate-input[data-classification='box'] .formulate-input-element-decorator {
  @apply mt-[5px] mr-1 relative border-2 border-secondary-light rounded h-4 w-4 block;
}
.formulate-input[data-classification='box']
  .formulate-input-element-decorator:before {
  content: '';
  background-position: 100%;
  @apply top-[-0.1rem] left-[-0.1rem] absolute box-border bg-contain block w-4 h-4;
}
.formulate-input[data-classification='box']
  .formulate-input-element
  input[type='checkbox']:checked
  ~ .formulate-input-element-decorator {
  @apply border-primary;
}
.formulate-input[data-classification='box']
  .formulate-input-element
  input[type='checkbox']:checked
  ~ .formulate-input-element-decorator:before {
  -webkit-mask-image: url('/images/check.svg');
  mask-image: url('/images/check.svg');
  @apply bg-primary;
}
/* Formulate */
.formulate-input {
  @apply mt-6;
}
.formulate-input-label {
  @apply text-secondary-lighter lato-normal-14 sm:lato-normal-20;
}
.my-formulate-input-field {
  @apply w-full px-4 py-4 mt-3 transition duration-500 border rounded outline-none border-secondary-lightest lato-normal-16 sm:lato-normal-20 text-secondary-light placeholder-secondary-lightest focus:border-primary focus-visible:border-primary focus:border-2;
}
button.my-formulate-input-field {
  @apply mt-0 rounded-[15px] text-white lato-bold-16 sm:lato-bold-20 outline-none ripple-bg-primary-DEFAULT;
}
.formulate-input[data-classification='box'] .formulate-input-element input {
  /* display: inline; */
  position: absolute;
  left: -999px;
  opacity: 0;
  pointer-events: none;
}
.my-formulate-input-field[type='checkbox'] {
  @apply w-auto;
}
.formulate-input[data-classification='select'] select {
  @apply pr-6 appearance-none;
}
.formulate-input[data-classification='select']
  select[data-placeholder-selected] {
  @apply text-secondary-lightest;
}
.formulate-input[data-classification='select'] select option {
  @apply text-secondary-light;
}
.formulate-input[data-classification='select'] .formulate-input-element {
  position: relative;
}
.formulate-input[data-classification='select'] .formulate-input-element:before {
  content: '';
  background-image: url('/images/chevron-down.svg');
  width: 24px;
  height: 24px;
  top: 50%;
  margin-top: -0.1em;
  right: 1em;
  position: absolute;
}
@layer base {
  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf');
    font-weight: 400;
    font-display: fallback;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Medium.ttf');
    font-weight: 500;
    font-display: fallback;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Semibold.ttf');
    font-weight: 600;
    font-display: fallback;
  }

  @font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf');
    font-weight: 700;
    font-display: fallback;
  }

  @font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Bold.ttf');
    font-weight: 500;
    font-display: fallback;
  }
}
@layer components {
  .stylish-text {
    @apply text-3xl font-bold sm:text-7xl font-lora;
  }
  .display1-text {
    @apply font-bold font-lora text-7xl;
  }
  /* Lora */
  /* Bold */
  .lora-bold-16 {
    @apply text-base font-bold font-lora;
  }
  .lora-bold-18 {
    @apply text-lg font-bold font-lora;
  }
  .lora-bold-20 {
    @apply text-[20px] font-bold font-lora;
  }
  .lora-bold-24 {
    @apply text-2xl font-bold font-lora;
  }
  .lora-bold-28 {
    @apply text-[28px] font-bold font-lora;
  }
  .lora-bold-29 {
    @apply text-[29.16px] font-bold font-lora;
  }
  /* display-3 */
  .lora-bold-32 {
    @apply text-[32px] font-bold font-lora;
  }
  .lora-bold-42 {
    @apply text-[42px] font-bold font-lora;
  }
  .lora-bold-48 {
    @apply text-5xl font-bold font-lora;
  }
  .lora-bold-56 {
    @apply font-bold font-lora text-[56px];
  }
  /*  */
  /* Lato */
  /* Normal */
  .lato-normal-8 {
    @apply text-[8px] font-normal font-lato;
  }
  .lato-normal-11 {
    @apply text-[11.39px] font-normal font-lato;
  }
  .lato-normal-14 {
    @apply text-sm font-normal font-lato;
  }
  .lato-normal-16 {
    @apply text-base font-normal font-lato;
  }
  .lato-normal-18 {
    @apply text-lg font-normal font-lato;
  }
  /* display-4 */
  .lato-normal-20 {
    @apply text-xl font-normal font-lato;
  }
  .lato-normal-24 {
    @apply text-2xl font-normal font-lato;
  }
  /* Medium */
  .lato-medium-12 {
    @apply text-xs font-bold font-lato;
  }
  /* display-5 */
  .lato-medium-14 {
    @apply text-sm font-medium font-lato;
  }
  .lato-medium-16 {
    @apply text-base font-medium font-lato;
  }
  .lato-medium-20 {
    @apply text-xl font-medium font-lato;
  }
  /* Semibold */
  .lato-semibold-16 {
    @apply text-base font-semibold font-lato;
  }
  .lato-semibold-20 {
    @apply text-xl font-semibold font-lato;
  }
  .lato-semibold-22 {
    @apply text-[22px] font-semibold font-lato;
  }
  /* Bold */
  .lato-bold-16 {
    @apply text-base font-bold font-lato;
  }
  .lato-bold-18 {
    @apply text-lg font-bold font-lato;
  }
  .lato-bold-20 {
    @apply text-xl font-bold font-lato;
  }
  .lato-bold-32 {
    @apply text-[32px] font-bold font-lato;
  }
  .lato-bold-48 {
    @apply text-5xl font-bold font-lato;
  }
}

@tailwind components;
@tailwind utilities;
