/* ./assets/css/tailwind.css */
@tailwind base;
@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Medium.ttf');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Semibold.ttf');
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.ttf');
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Bold.ttf');
  font-weight: 500;
  font-display: fallback;
}

.stylish-text {
  @apply text-3xl font-bold sm:text-7xl font-lora;
}
.body-text {
  @apply text-base font-semibold font-lato;
}
.btn-text {
  @apply text-xl font-bold font-lato;
}
.display1-text {
  @apply font-bold font-lora text-7xl;
}
.display2-text {
  @apply text-5xl font-bold font-lora;
}
.display3-text {
  @apply text-3xl font-bold font-lora;
}
.display4-text {
  @apply text-xl font-normal font-lato;
}
.display5-text {
  @apply text-sm font-medium font-lato;
}
.display6-text {
  @apply text-base font-medium font-lato;
}
@tailwind components;
@tailwind utilities;
